/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(254, 254, 254);
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@font-face {
  font-family: 'Gabriela';
  src: url('Gabriela-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.alert-container{
  width: 60rem;
  height: auto;
  font-family: 'Gabriela', serif;
  margin: 2rem auto;
  border: 4px dashed red;
  padding: 0 2rem 1rem;
}
.alert-header{
  color: red;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}
.alert-container .alert{
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.2rem;
  font-weight: 800;
}



.notice-container{
  width: 60rem;
  height: auto;
  font-family: 'Gabriela', serif;
  margin: 2rem auto;
  border: 4px dashed rgb(0, 203, 44);
  padding: 0 2rem 1rem;
}
.notice-header{
  color: rgb(0, 203, 44);
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}
.notice-container .notice{
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.2rem;
  font-weight: 800;
}
