:root{
  /*--main-color: rgb(172, 134, 255);*/
  --main-color: rgb(138, 160, 255);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100hv;
}
.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 100px auto 40px;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 20px;
  background-color: rgb(20, 36, 81);
  display: flex;
  flex-direction: column;
}
.container-content{
  display: flex;
  flex-direction:row;
}
.left {
  width: 60%;
  padding: 20px 20px 20px;
}
.ring-cell{
  display: grid;
}
.rings{
  margin: -5px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.ring{
  grid-column: 1;
  grid-row: 1;
  display: grid;
  margin-left: -50px;
  margin-top: -85px;
  z-index: 100;
}
.big-ring{
    grid-row: 1;
    grid-column: 1;
    /* border: 1px solid rgb(173, 173, 173); */
    background: linear-gradient(135deg, #393939 0%, #abaaaa 50%, #676666 51%, #111111 100%);
    width: 60px;
    height: 90px;
    border-radius: 50%;
    margin-left: 30px;
    border: 1px solid grey;
}
.little-ring{
    grid-row: 1;
    grid-column: 1;
    margin-top: 10px;
    margin-left: 45px;
    width: 40px;
    height: 78px;
    border-radius: 50%;
    background-color: white;
}
.circle{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 0 1px 1px 1px solid grey; */
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 20px;
  background-color: #fff;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 20px 20px 0;
  background-color: #d3d5d6d7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar .month {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
  font-size: 3rem;
  margin-top: 60px;
  color: rgb(50, 54, 62);

}

.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--main-color);
}
.calendar .date{
  margin-top: 60px;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(50, 54, 62);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 30px;

}

.calendar .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(50, 54, 62);
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--main-color);
  border: 1px solid #e0dfdf;
}
.calendar .day:not(.prev-date, .next-date):hover{
  color:#fff;
  background-color: var(--main-color);

}
.calendar .days .prev-date,
.calendar .days .next-date{
  color: #b3b3b3;
}
.calendar .days .active{
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  background-color:var(--main-color);
}
.calendar .days .active::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--main-color);
}
.calendar .days .today{
  font-size: 2.5rem;
  box-shadow: inset 0 0 10px var(--main-color);
}
.calendar .days .event{
  position: relative;
}
.calendar .days .event::after{
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color:var(--main-color);
}
.calendar .event:hover::after{
  background-color: #fff;;
} 
.calendar .active.event::after{
  background-color: #fff;
  bottom: 20%;
}
.calendar .active.event{
  padding-bottom: 10px; 
}
.calendar .goto-today{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.calendar .goto-today .goto{
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--main-color);
}
.calendar .goto-today .goto input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color:var(--main-color);
}
.calendar .goto-today button{
  padding: 5px 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-color);
}
.calendar .goto-today button:hover{
  color: #fff;
  background-color: var(--main-color);
}
.calendar .goto-today .goto button{
  border: none;
  border-left: 1px solid var(--main-color);
  border-radius: 0;
}

.container .right{
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}
.right .today-date{
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  align-items:center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.today-date .event-day{
  font-size: 2rem;
  font-weight: 1000;
}
.today-date .event-date{
  font-size: 1.5rem;
  font-weight: 1000;

}
.events{
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.events .event{
  position: relative;width: 95%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px 0 50px;
  color: #fff;
  background: linear-gradient(90deg, rgba(138, 159, 255, 0.245), transparent);
}
.events .event:nth-child(even){
  background: transparent;
}
.events .event:hover{
  background: linear-gradient(90deg, var(--main-color), transparent);
}
.events .event .title{
  pointer-events: none;
  display: grid;
  gap: 20px;
  padding-right: 50%;
}
.events .event .title .note{
  font-size: 2rem;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;

}

.events .event .title .event-title{
  grid-column: 2;
  grid-row: 1;
  margin-top: 8%;
  font-weight: 1000;
  font-size: 1.3rem;
}
.add-event{
  position: absolute;
  bottom: 5%;
  right: 10%;
  display: flex;
  flex-direction: row;

}
.add-event-btn{
  /* background-color: var(--main-color); */
  background-color: rgb(20, 36, 81);
  color:  white;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: inset 0 0 10px white;
  width: 50px;
  height: 50px;
  font-size: 40px;
  /* color: rgb(50, 54, 62); */
  /*box-shadow: inset 0 0 10px rgb(249, 250, 251); */
  cursor: pointer;
  text-align: center;
}
.hidden-add-event{
  /* color: rgb(50, 54, 62); */
  box-shadow: inset 0 0 10px white;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  width: 0;
  /* background-color: var(--main-color); */
  border: 3px solid white;
  font-size: 20px;
  /*box-shadow: inset 0 0 10px rgb(249, 250, 251); */
  cursor: pointer;
  margin-right: -20px;
  font-weight: 800;
  text-align: center;
  padding-top: 3%;
  border-radius: 30px 0 0 30px;
  transition: width 0.5s ease;
}
.hidden-text{
  width: 330px;
}


