@font-face {
  font-family: 'Gabriela';
  src: url('Gabriela-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.choir-story-container{
  position: relative;
  margin-top: -12rem;
  background-color: rgb(220, 220, 221);
  border-radius: 20% 20% 0 0;
  height: 65rem;
  width: 100%;
  z-index: 2;
  display: flex;
  /* justify-content: space-between; */
}
.choir-story-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45rem;
  height: 45rem;
  padding: 10rem;
}
.choir-story-wrapper{
  margin: 0rem 3rem 3rem 3rem;
  padding: 0rem 0 5rem 3rem;
  max-width: 65rem;
}
.choir-story-header{
  margin: 3rem;
  font-family: 'Gabriela';
  color: black;
  font-size: 6rem;
  text-align: center;
  /* margin: 0;
  padding: 0; */

}
.choir-story{
  font-family: 'Gabriela';
  font-size: 1.5rem;
  color: black;
  text-align: justify;
}
