@font-face{
  font-family: 'CyrillicGothSHA';
  src: url('CyrillicGothSHA_1.otf') format('opentype');
}
.stars-container{
  background-color: #262636;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  gap: 6rem;
}
.stars-container img{
  height: 70rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.stars-block-1{
  box-shadow: inset 0 0 3px rgba(0,0,0);
  background-color: rgb(193, 193, 195);
  border-radius: 20px;
  height: 10rem;
  width: 60rem;
  margin-top: 0;
}

.stars-block-1 p{
  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
  color: rgb(19, 22, 47);
  font-family: 'CyrillicGothSHA';
}

.stars-block-2{
  box-shadow: inset 0 0 3px rgba(0,0,0);
  background-color: rgb(193, 193, 195);
  border-radius: 20px;
  height: 5rem;
  width: 40rem;
}
.stars-block-2 p{
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: rgb(19, 22, 47);
  font-family: 'CyrillicGothSHA';
}
.stars-block-3{
  box-shadow: inset 0 0 3px rgba(0,0,0);
  background-color: rgb(193, 193, 195);
  border-radius: 20px;
  height: 3rem;
  width: 14rem;
  margin-bottom: 10rem;
}
.stars-block-3 p{
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: rgb(19, 22, 47);
  font-family: 'CyrillicGothSHA';
}
.stars-block-3:hover{
  cursor: pointer;
  box-shadow: inset 0 0 8px black;
}